<div class="container"><br>
  <h1>Contact</h1><br><br>
  <p>N'appel pas, parce que nous on a la flemme. Si t'arrives pas à utiliser le site, c'est que t'es mauvais(e).</p><br>
  <img src="https://media.giphy.com/media/yPhqlJccIOaru/giphy.gif" >
</div>
