<div class="box">
  <article> class="media">
    <div class="media-content">
      <div class="content">
        <p><%= comments.name %>: </p>
        <p><%= comments.content %></p>
      </div>
    </div>
  </div>
</article>
</div>
