<h1>Potins classée par villes </h1>

Ville :<%= @current_city.name%>
<br>
Potins :<% @current_city.users.each do |u| %>
          <% u.gossips.each do |c| %>
          <p><%= c.title%></p>
          <p><%= c.content%></p>
          <% end %>
          <% end %>
